<div class="d-flex w-100 align-items-end --price-mini-cart-html">
  <span class="previewCartItem-price font-size-10 text-black-40 ff-bold mb-0 d-flex flex-column price-cart-mini">

    {{#if price_discounted}}
      <span>AUD {{price_discounted.formatted}}</span>
    {{else}}
      <span>AUD {{price.formatted}}</span>

      {{#if theme_settings.enable_member_discount_banner}}
        <span class="cart-item-value font-weight-bold">Member AUD ${{toFixed (multiply price.value theme_settings.member_discount_percentage) 2}}</span>
      {{/if}}

    {{/if}}
  </span>

  {{#if theme_settings.enable_member_discount_banner}}
    {{#if customer}}
      <span class="font-size-10 ml-auto d-inline-flex text-success">{{theme_settings.member_discount_banner}}</span>
    {{else}}
      <span class="font-size-10 gap-3em text-transform-none ml-auto d-inline-flex">
        <a href="/login.php" class="text-decoration-none">Login</a>
        or
        <a href="/login.php?action=create_account" class="text-decoration-none">Signup</a>
      </span>
    {{/if}}
  {{/if}}

</div>
