<!-- <div class="price-section price-section--withTax --price-card-html">
  <span class="price-label">USD</span>
  <span class="mainLoadedPrice price price--withTax">${{toFixed price 2}}</span>
</div> -->

{{#if price.with_tax}}
        <span class="currency">USD</span>
        <div class="price-section price-section--withTax rrp-price--withTax" {{#unless price.rrp_with_tax}}style="display: none;"{{/unless}}>
            <span class="d-none">
                {{theme_settings.pdp-retail-price-label}}
            </span>
            <span data-product-rrp-with-tax class="price price--rrp">
                {{price.rrp_with_tax.formatted}}
            </span>
        </div>
        <div class="price-section price-section--withTax non-sale-price--withTax" {{#unless price.non_sale_price_with_tax}}style="display: none;"{{/unless}}>
            <span class="d-none">
                {{theme_settings.pdp-non-sale-price-label}}
            </span>
            <span data-product-non-sale-price-with-tax class="price price--non-sale">
                {{price.non_sale_price_with_tax.formatted}}
            </span>
        </div>
        <div class="price-section price-section--withTax" {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
            <span class="price-label d-none" {{#if price.non_sale_price_with_tax}}style="display: none;"{{/if}}>
                {{theme_settings.pdp-price-label}}
            </span>
            <span class="price-now-label d-none" {{#unless price.non_sale_price_with_tax}}style="display: none;"{{/unless}}>
                {{theme_settings.pdp-sale-price-label}}
            </span>
            <span data-product-price-with-tax class="mainPrice-{{product.id}} mainLoadedPrice price price--withTax">{{price.with_tax.formatted}}</span>

            {{#if schema_org}}
                <meta itemprop="availability" itemtype="http://schema.org/ItemAvailability" 
                    content="http://schema.org/{{#if product.pre_order}}PreOrder{{else if product.out_of_stock}}OutOfStock{{else if product.can_purchase '===' false}}OutOfStock{{else}}InStock{{/if}}">
                <meta itemprop="url" content="{{product.url}}">
                <div itemprop="priceSpecification" itemscope itemtype="http://schema.org/PriceSpecification">
                    <meta itemprop="price" content="{{price.with_tax.value}}">
                    <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                    <meta itemprop="valueAddedTaxIncluded" content="true">
                </div>
            {{/if}}
            {{#if price.without_tax}}
                <abbr title="{{lang 'products.including_tax'}}">{{lang 'products.price_with_tax' tax_label=price.tax_label}}</abbr>
            {{/if}}
        </div>
    {{/if}}


{{#if theme_settings.enable_member_discount_banner}}
<div class="price-section price-section--withTax font-weight-bold --price-card-html">
  <span class="price-label">Member USD</span>
  <span class="mainLoadedPrice price price--withTax">${{toFixed (multiply price theme_settings.member_discount_percentage) 2}}</span>
</div>
{{/if}}
