{{!-- {{#each carousel.slides}} {{> components/common/responsive-img image=stencil_image class="heroCarousel-image home-hero-banner__image"
fallback_size='1280w' lazyload='disabled' otherAttributes="height='771' width='1905'" }} {{/each}} --}}

 <!-- <section class="home-hero-banner position-relative">
  <a href="{{carousel.slides.0.url}}">
    <picture>
      <source
        media="(max-width: 767.98px)"
        srcset="{{getImageSrcset carousel.slides.1.stencil_image use_default_sizes=true}}"
        height="564"
        width="375"
      />
      <source
        media="(min-width: 768px)"
        srcset="{{getImageSrcset carousel.slides.0.stencil_image use_default_sizes=true}}"
        height="771"
        width="1905"
      />
      <img
        srcset="{{getImageSrcset carousel.slides.0.stencil_image use_default_sizes=true}}"
        alt="{{carousel.slides.0.heading}}"
        height="771"
        width="1905"
        class="home-hero-banner__image"
      />
    </picture>

    <div class="home-hero-banner__wrapper">
      <h3 data-test-id="hero-image-title">{{carousel.slides.0.heading}}</h3>
      {{#if text}}<p>{{carousel.slides.0.text}}</p>{{/if}}
      <div data-test-id="hero-image-button">{{carousel.slides.0.button_text}}</div>
    </div>
  </a>
</section> -->
