{{#if theme_settings.show_product_quantity_box}}
<div class="form-field form-field--increments">
  <label class="form-label form-label--alternate" for="qty[]"
    >{{lang 'products.quantity'}}</label
  >
  <div class="form-increment" data-quantity-change>
    <button class="button button--icon" data-action="dec">
      <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
      <i class="icon" aria-hidden="true">
        <svg>
          <use xlink:href="#icon-keyboard-arrow-down" />
        </svg>
      </i>
    </button>
    <input
      class="form-input form-input--incrementTotal"
      id="qty[]"
      name="qty[]"
      type="tel"
      value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
      data-quantity-min="{{product.min_purchase_quantity}}"
      data-quantity-max="{{product.max_purchase_quantity}}"
      min="1"
      pattern="[0-9]*"
      aria-live="polite"
    />
    <button class="button button--icon" data-action="inc">
      <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
      <i class="icon" aria-hidden="true">
        <svg>
          <use xlink:href="#icon-keyboard-arrow-up" />
        </svg>
      </i>
    </button>
  </div>
</div>
{{/if}}


<div
  class="alertBox productAttributes-message bg-white rounded-0 border-0 p-0 mt-0 mb-4 "
  {{#if product.can_purchase}} style="display: none" {{/if}}
>
  <p class="alertBox-column alertBox-message tesyy">
    {{#unless product.can_purchase}}
    Size sold out? Click 'Notify Me' below and we'll give you a shout when we restock.
    {{/unless}}
  </p>
</div>


{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
<div
  class="form-action form-action--addtocart"
  role="status"
  aria-live="polite"
>
  <input
    id="form-action-addToCart"
    data-wait-message="{{lang 'products.adding_to_cart'}}"
    class="btn btn-dark btn--addtocart mb-0 w-100"
    type="submit"
    value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}"
    data-product-details='{
        "item_id" : "{{ product.id }}",
        "item_name" : "{{ product.title }}",
        "item_brand" : "{{ product.brand.name }}",
        "item_variant" : "{{ product.sku }}",
        "currency" : "{{ product.price.with_tax.currency }}",
        "price" : "{{ product.price.with_tax.value }}"
      }'
  />
</div>
{{/or}}
