<section
  class="productCarousel productCarousel--cab test2 mx-0"
  data-list-name="{{list}}"
  data-slick='{
        "dots": false,
        "infinite": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "slide": ".js-product-slide",
        "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow",
        "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow",
        "responsive": [
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToShow": 4,
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 1
                }
            }
        ]
    }'
>
  {{#if products.length '>' 1}}
  <button
    aria-label="{{lang 'carousel.arrowAriaLabel'}} {{products.length}}"
    class="{{#if customArrowClass}}{{customArrowClass}} {{/if}}js-product-prev-arrow slick-prev slick-arrow"
  ></button>
  {{/if}} {{#each products}}
  <div class="productCarousel-slide js-product-slide">
    {{> components/products/card-cav settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
  </div>
  {{/each}} {{#if products.length '>' 1}}
  <button
    aria-label="{{lang 'carousel.arrowAriaLabel'}} {{products.length}}"
    class="{{#if customArrowClass}}{{customArrowClass}} {{/if}}js-product-next-arrow slick-next slick-arrow"
  ></button>
  {{/if}}
</section>
