<div class="productCarousel productCarousel--custom-one productCarousel--available-mob 3"
    data-list-name="{{list}}"
    data-slick='{
        "dots": false,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 1,
        "slide": ".js-product-slide",
        "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow-mob",
        "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow-mob",
        "responsive": [
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 1
                }
            }
        ]
    }'>
    {{#if products.length '>' 1}}
    <button aria-label="{{lang 'carousel.arrowAriaLabel'}} {{products.length}}" class="{{#if customArrowClass}}{{customArrowClass}} {{/if}}js-product-prev-arrow-mob slick-prev slick-arrow slick-arrow--custom-one btm-mid"></button>
    {{/if}}
    {{#each products}}
    <div class="productCarousel-slide available-mobile js-product-slide ff">
        {{> components/products/card-prdtdtl-available settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
    {{#if products.length '>' 1}}
    <button aria-label="{{lang 'carousel.arrowAriaLabel'}} {{products.length}}" class="{{#if customArrowClass}}{{customArrowClass}} {{/if}}js-product-next-arrow-mob slick-next slick-arrow slick-arrow--custom-one btm-mid"></button>
    {{/if}}
</div>
