//variables
$clr-grey-light-one: #eee;
$clr-grey-light-two: #e6e6e6;
$clr-grey-light-three: #808080;
$clr-grey-light-four: #b3b3b3;
$clr-grey-light-five: #d7d0c8;
$clr-grey-light-six: #aaaaaa;
$clr-grey-light-seven: #f6f6f6;
$clr-grey-light-eight: #989898;
$clr-grey-light-nine: #121212;
$clr-grey-light-ten: #ededed;
$clr-grey-light-eleven: #6d6e71;
$clr-grey-light-twelve: #0a0909;
$clr-grey-light-thirteen: #939598;
$clr-grey-light-fourteen: #c6c6c6;
$clr-grey-light-fifteen: #dddddd;
$clr-grey-light-sixteen: #636363;
$clr-grey-light-seventeen: #e8e8e8;
$clr-grey-light-eighteen: #bababa;
$clr-grey-light-nineteen: #a5a5a5;
$clr-grey-light-twenty: #5b5b5b;
$clr-grey-light-twenty-one: #f9f5f2;
$clr-grey-light-twenty-two: #fafafa;
$clr-grey-light-twenty-three: #f4f4f4;

$clr-grey-dark-one: #4d4d4d;
$clr-grey-dark-two: #414042;

$clr-black-dark-one: #1d1d20;
$clr-pink-bright-one: #f2668d;
$clr-pink-bright-two: #f56588;
$clr-pink-bright-three: #f0668c;

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

$font-family-regular: "Roboto", sans-serif;
$font-family-light: "ZurichBT-Light";
$font-family-bold: "ZurichBT-Bold";
