<div class="previewCartWrapper">
  <div class="previewCart-header">
    <h4 class="previewCart-header__title h6 text-uppercase">My Cart</h4>
    <h4 class="previewCart-header__count h6 text-uppercase font-weight-bold"><span id="cart-quantity-new">{{ cart.quantity }}</span> items</h4>
  </div>
  <div class="previewCart">
    {{#if cart.items.length}}
    <ul class="previewCartList">
      {{#each (limit cart.items 4)}}
      <li class="previewCartItem">
        <div class="previewCartItem-image">
          {{#if type '==' 'GiftCertificate'}}
          <img alt="GiftCertificate" title="GiftCertificate" src="{{cdn ../theme_settings.default_image_gift_certificate}}" />
          {{else}} {{> components/common/responsive-img image=image fallback_size=../theme_settings.productthumb_size
          lazyload=../theme_settings.lazyload_mode default_image=../theme_settings.default_image_product }} {{/if}}
        </div>
        <div class="previewCartItem-content pr-0">

          <h6 class="previewCartItem-name h6 font-weight-bold">
            <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
          </h6>

          {{> components/products/price/price-mini-cart customer=../customer theme_settings=../theme_settings}}

          <div class="previewCartItem-options h6">
            {{#if options.length}} {{#each options}}
            <div class="previewCartItem-size">
              <span class="previewCartItem-size-title mb-0">{{name}}:</span>
              <span class="previewCartItem-size-value mb-0">{{value}}</span>
            </div>
            {{/each}} {{/if}}

            <div class="previewCartItem-quantity">
              <span class="previewCartItem-quantity-title mb-0">Quantity:</span>
              <span class="previewCartItem-quantity-value mb-0">{{quantity}}</span>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="previewCartAction">
      <ul class="previewCartAction__cartinfo">
        <li class="previewCartAction__items">
          <span class="previewCartAction__label">{{lang 'cart.checkout.subtotal'}}:</span>
          <span class="previewCartAction__value">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            <span>AUD {{cart.sub_total.formatted}}</span>
            {{else}} {{> components/common/login-for-pricing}} {{/or}}
          </span>
        </li>
        <li class="previewCartAction__items">
          <span class="previewCartAction__label">{{lang 'cart.checkout.shipping'}}:</span>
          <span class="previewCartAction__value"> - </span>
        </li>
        <li class="previewCartAction__items">
          <span class="previewCartAction__label">{{lang 'cart.checkout.grand_total'}}:</span>
          <span class="previewCartAction__value">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            <strong>AUD {{cart.grand_total.formatted}}</strong>
            {{else}} {{> components/common/login-for-pricing}} {{/or}}
          </span>
        </li>
      </ul>

      <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}} p-0 mb-2 w-100">
        <a href="{{urls.cart}}" class="btn btn-outline-primary w-100"> {{lang 'cart.preview.view_cart'}} </a>
      </div>

      {{#if cart.show_primary_checkout_button}}
      <div class="previewCartAction-checkout">
        <a href="{{urls.checkout.single_address}}" class="btn btn-primary w-100"> {{lang 'cart.preview.checkout_now'}} </a>
      </div>
      {{/if}} {{#if cart.show_multiple_address_shipping}}
      <div class="previewCartAction-checkoutMultiple">
        <a href="{{urls.checkout.multiple_address}}"> {{lang 'cart.preview.checkout_multiple'}} </a>
      </div>
      {{/if}}
    </div>
    {{#if cart.additional_checkout_buttons}}
    <div class="previewCart-additionalCheckoutButtons">{{#each cart.additional_checkout_buttons}} {{{this}}} {{/each}}</div>
    {{/if}} {{else}}
    <div class="previewCart-emptyBody">{{lang 'cart.checkout.empty_cart'}}</div>
    {{/if}}
  </div>
</div>
