{{assignVar 'encodedUrl' (encodeURI product.url)}} {{assignVar 'encodedTitle'
(encodeURI product.title)}}

<ul class="socialLinks socialLinks--product-dtl">
  <li class="socialLinks-item socialLinks-item--facebook">
    <a
      class="addthis_button_facebook socialLinks__link socialLinks--link icon icon--facebook"
      title="{{{capitalize service}}}"
      href="https://facebook.com/sharer/sharer.php?u={{getVar 'encodedUrl'}}"
      target="_blank"
      rel="noopener"
      {{{annotation}}}
    >
      <i class="icon icon-socialLinks">
        <svg>
          <use xlink:href="#icon-facebook"></use>
        </svg>
      </i>
      <span class="socialLinks-title">Facebook</span>
    </a>
  </li>
  <li class="socialLinks-item socialLinks-item--email">
    <a
      class="addthis_button_email socialLinks__link socialLinks--link icon icon--email"
      title="{{{capitalize service}}}"
      href="mailto:?subject={{getVar 'encodedTitle'}}&amp;body={{getVar 'encodedUrl'}}"
      target="_self"
      rel="noopener"
      {{{annotation}}}
    >
      <i class="icon icon-socialLinks">
        <svg>
          <use xlink:href="#icon-envelope"></use>
        </svg>
      </i>
      <span class="socialLinks-title">Email</span>
    </a>
  </li>
</ul>

<script
  type="text/javascript"
  defer
  src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e94ed470ee51e32"
></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    if (typeof addthis === "object") {
      addthis.toolbox(".addthis_toolbox");
    }
  });
</script>
