<!-- <div class="footer-newsletter__heading test">
    <h4 class="footer-newsletter__title ff-bold h1">{{lang 'newsletter.subscribe'}}</h4>
<p class="footer-newsletter__para mb-0">{{lang 'newsletter.subscribe_intro'}}</p>
</div>

<form class="form form--newsletter" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field mb-0">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input"
                       id="nl_email"
                       name="nl_email"
                       type="email"
                       value="{{customer.email}}"
                       placeholder="{{lang 'newsletter.email_placeholder'}}"
                       aria-describedby="alertBox-message-text"
                >
                <input class="btn btn-primary text-uppercase btn--subscribe  form-prefixPostfix-button--postfix"
                type="submit"
                value="{{lang 'newsletter.subscribe_submit'}}"
         >
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form> -->
<div class="privy-embed-form" data-campaign="221870"></div>


