---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<div class="container">

    <section class="nav">
        {{#if forms.search.query}}
            <div id="search-results-heading">
                {{>components/search/heading}}
            </div>
        {{/if}}
        {{#unless product_results.faceted_search_enabled}}
            {{>components/search/advanced-search}}
        {{/unless}}
    </section>

    <section class="page pagelist--row">
            {{#if product_results.faceted_search_enabled}}
                <aside class="page-sidebar  page--col {{!-- #if forms.search.section '!=' 'product'}} u-hiddenVisually{{/if --}}" id="faceted-search-container">
                    <div class="breadcrumbs__wrapper mt-0">{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}</div>
                    <h3 class="page-sidebar__title d-none d-md-block">{{category.name}}</h3>
                    <div class="page-sidebar--row">
                        <div class="page-sidebar__wrap uuutes">
                            <div class="page-sidebar__filter">{{> components/products/filter sort=pagination.product_results.sort }}</div>
                            <div class="page-sidebar__sortby flex-md-grow-1">{{> components/faceted-search/index product_results }}</div>
                        </div>
                    </div>

                </aside>
            {{/if}}
            <main class="page-content page--col">
                {{!-- #if forms.search.has_suggestions}}
                    <div class="panel panel--large">
                        <div class="panel-body">
                            {{#if forms.search.suggested_query}}
                                <div class="search-suggestion">
                                    {{lang 'forms.search.did_you_mean'}} <strong>{{forms.search.suggested_query.query}}</strong>
                                    <a href="{{forms.search.suggested_query.url}}" class="search-refine">{{lang 'forms.search.refine'}}</a>
                                </div>

                                {{#if result_count '===' 0}}
                                    <div class="search-suggestion">
                                        <p>
                                            {{lang 'forms.search.your_search_for'}}
                                            "<strong>{{{sanitize forms.search.query}}}</strong>"
                                            {{lang 'forms.search.no_match'}}
                                        </p>
                                    </div>
                                {{/if}}
                            {{/if}}

                            {{#if category_results.length}}
                                <div class="search-suggestion">
                                    <h5 class="suggestion-title">{{lang 'forms.search.categories'}}</h5>
                                    <ul class="category-suggestion-list">

                                        {{#each category_results}}
                                        <li class="category-suggestion">

                                            {{#each this}}
                                                <a href="{{url}}">{{name}}</a>
                                                {{#unless @last}} > {{/unless}}
                                            {{/each}}

                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}

                            {{#if brand_results.length}}
                                <div class="search-suggestion">
                                    <h5 class="suggestion-title">{{lang 'forms.search.brand'}}</h5>
                                    {{#each brand_results}}
                                        <a href="{{url}}">{{name}}</a>
                                        {{#unless @last}}, {{/unless}}
                                    {{/each}}
                                </div>
                            {{/if}}

                            {{#if result_count '===' 0}}
                                <div class="search-suggestion">
                                    <h5 class="suggestion-title">{{lang 'forms.search.suggestions.title'}}</h5>
                                    <ul>
                                        <li>{{lang 'forms.search.suggestions.line1'}}</li>
                                        <li>{{lang 'forms.search.suggestions.line2'}}</li>
                                        <li>{{lang 'forms.search.suggestions.line3'}}</li>
                                    </ul>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/if --}}

                <p role="status"
                   aria-live="polite"
                   class="quickSearchResultsAriaMessage aria-description--hidden u-hidden"
                   data-search-aria-message
                >
                    {{{lang 'search.results.count' count=result_count search_query=(sanitize forms.search.query)}}}
                </p>

                <!-- <div role="tabpanel" id="search-results-content" aria-labelledby="search-results-content-count" {{#if forms.search.section '!=' 'content'}}class=" b u-hidden"{{/if}}>
                    {{!-- > components/search/content-listing --}}
                </div> -->

                <div  id="product-listing-container" aria-labelledby="search-results-product-count" class="abc {{!-- #if forms.search.section '!=' 'product'}}u-hidden{{/if --}}">
                    {{> components/search/product-listing}}
                </div>

                {{{region name="search_below_content"}}}
            </main>
    </section>
</div>

{{/partial}}
{{> layout/base}}
