<!-- <style>
    .navPage-subMenu-action.navPages-action{font-size: 14px;}
</style> -->
<nav class="navPages ss">
    <ul class="navPages-list navPages-list--mob tst  {{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">

        
        
        <!-- Mobile Only -->
        <li class="navPages-item d-lg-none order-1">
            <a href="/shop-all/whats-new/" class="navPages-action navPages-action--main">
               New In
            </a>
        </li>
        <li class="navPages-item d-lg-none order-2">
            <a href="#" class="navPages-action navPages-action--main has-subMenu " data-collapsible="navPages-shopall--mob"
                aria-label="navPages-shopall--mob" aria-controls="navPages-shopall--mob" aria-expanded="false">
                Shop All
                <i class="icon-svg icon--arw-btm navPages-action--icon d-none d-lg-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg-full" viewBox="0 0 11.2 6.7">
                        <path
                            d="M10.9 0c.3 0 .4.3.2.5L8.6 3.4 5.8 6.6c-.1.1-.3.1-.4 0L2.6 3.4.1.5C-.1.3 0 0 .3 0h10.6z" />
                        </svg>
                </i>
                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none test" aria-hidden="true">

                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-shopall--mob" aria-hidden="true" tabindex="-1">
                <div class="container container-fluid--mainnav">
                    <ul class="navPage-childList d-block pl-0 m-0 border-0" id="navPages-shopallChild--mob" aria-hidden="true" tabindex="-1">

                        {{#each categories}}
                        {{#if name '==' 'Shop All'}}
                        {{#each children}}
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                            </li>
                        {{/each}}
                        {{/if}}
                        {{/each}}
                        
                    </ul>
                </div>
            </div>
        </li>    

        <li class="navPages-item d-lg-none order-3">
            <a href="#" class="navPages-action navPages-action--main has-subMenu " data-collapsible="navPages-byage--mob"
                aria-label="navPages-byage--mob" aria-controls="navPages-byage--mob" aria-expanded="false">
                AS SEEN ON
                <i class="icon-svg icon--arw-btm navPages-action--icon d-none d-lg-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg-full" viewBox="0 0 11.2 6.7">
                        <path
                            d="M10.9 0c.3 0 .4.3.2.5L8.6 3.4 5.8 6.6c-.1.1-.3.1-.4 0L2.6 3.4.1.5C-.1.3 0 0 .3 0h10.6z" />
                        </svg>
                </i>
                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true">

                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-byage--mob" aria-hidden="true" tabindex="-1">
                <div class="container container-fluid--mainnav">
                    <ul class="navPage-childList d-block pl-0 m-0 border-0" id="navPages-byageChild--mob" aria-hidden="true" tabindex="-1">

                        {{#each categories}}
                        {{#if name '==' 'As Seen On'}}
                        {{#each children}}
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                            </li>
                        {{/each}}
                        {{/if}}
                        {{/each}}
                        
                    </ul>
                </div>
            </div>
        </li>
        <li class="navPages-item d-lg-none order-4">
            <a href="/our-story/" class="navPages-action navPages-action--main">
               Our story
            </a>
        </li>
        <!-- <li class="navPages-item d-lg-none order-5">
            <a href="#" class="navPages-action navPages-action--main has-subMenu " data-collapsible="navPages-shoptheedit--mob"
                aria-label="navPages-shoptheedit--mob" aria-controls="navPages-shoptheedit--mob" aria-expanded="false">
                Shop The Edit
                <i class="icon-svg icon--arw-btm navPages-action--icon d-none d-lg-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg-full" viewBox="0 0 11.2 6.7">
                        <path
                            d="M10.9 0c.3 0 .4.3.2.5L8.6 3.4 5.8 6.6c-.1.1-.3.1-.4 0L2.6 3.4.1.5C-.1.3 0 0 .3 0h10.6z" />
                        </svg>
                </i>
                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true">

                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-shoptheedit--mob" aria-hidden="true" tabindex="-1">
                <div class="container container-fluid--mainnav">
                    <ul class="navPage-childList d-block pl-0 m-0 border-0" id="navPages-shoptheeditChild--mob" aria-hidden="true" tabindex="-1">

                        {{#each categories}}
                        {{#if name '==' 'Shop The Edit'}}
                        {{#each children}}
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                            </li>
                        {{/each}}
                        {{/if}}
                        {{/each}}
                        
                    </ul>
                </div>
            </div>
        </li> -->
        <!-- <li class="navPages-item d-lg-none order-6">
            <a href="#" class="navPages-action navPages-action--main has-subMenu " data-collapsible="navPages-asseenon--mob"
                aria-label="navPages-asseenon--mob" aria-controls="navPages-asseenon--mob" aria-expanded="false">
                As Seen On
                <i class="icon-svg icon--arw-btm navPages-action--icon d-none d-lg-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg-full" viewBox="0 0 11.2 6.7">
                        <path
                            d="M10.9 0c.3 0 .4.3.2.5L8.6 3.4 5.8 6.6c-.1.1-.3.1-.4 0L2.6 3.4.1.5C-.1.3 0 0 .3 0h10.6z" />
                        </svg>
                </i>
                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true">

                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-asseenon--mob" aria-hidden="true" tabindex="-1">
                <div class="container container-fluid--mainnav">
                    <ul class="navPage-childList d-block pl-0 m-0 border-0" id="navPages-asseenonChild--mob" aria-hidden="true" tabindex="-1">

                        {{#each categories}}
                        {{#if name '==' 'As Seen On'}}
                        {{#each children}}
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                            </li>
                        {{/each}}
                        {{/if}}
                        {{/each}}
                        
                    </ul>
                </div>
            </div>
        </li> -->
        <li class="navPages-item d-lg-none order-7">
            <a href="/style-talk/" class="navPages-action navPages-action--main">
               Style Talk
            </a>
        </li>
        <li class="navPages-item d-lg-none order-8 " >
            <a href="/shop-all/sale/" class="navPages-action navPages-action--main">
                Sale
            </a>
        </li>
        <li class="navPages-item d-lg-none order-9 " >
            <a href="/contact-us/" class="navPages-action navPages-action--main">
                Contact us
            </a>
        </li>

        
        <!-- Desktop Only -->
        <li class="navPages-item d-none d-lg-block order-lg-1">
            <a href="/shop-all/whats-new/" class="navPages-action navPages-action--main">
               New In
            </a>
        </li>
        <li class="navPages-item d-none d-lg-block order-lg-2">
            <a href="#" class="navPages-action navPages-action--main has-subMenu " data-collapsible="navPages-shopall"
                aria-label="live videos" aria-controls="navPages-shopall" aria-expanded="false">
                Shop
                <i class="icon-svg icon--arw-btm navPages-action--icon d-none d-lg-block">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg-full" viewBox="0 0 11.2 6.7">
                        <path
                            d="M10.9 0c.3 0 .4.3.2.5L8.6 3.4 5.8 6.6c-.1.1-.3.1-.4 0L2.6 3.4.1.5C-.1.3 0 0 .3 0h10.6z" />
                        </svg> -->
                        <svg class="icon-svg-full"  viewBox="0 0 12 7"><path d="M0 .6.5 0 6 5.9 11.5 0l.5.6L6 7z" style="fill:#121212"/></svg>
                </i>
                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true">

                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-shopall" aria-hidden="true" tabindex="-1">
                <div class="container container-fluid--mainnav">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item navPage-subMenu-item--split">
                            <a class="navPage-subMenu-action navPages-action  has-subMenu" href="/shop-all/"
                                aria-label="SHOP ALL">
                                SHOP ALL
                                <span data-collapsible="navPages-shopallChild"
                                aria-label="shop-all-child" aria-controls="navPages-shopallChild" aria-expanded="false" class="navPages-childlist-opener">
                                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true">

                                </i>
                                </span>
                            </a>
                            <ul class="navPage-childList" id="navPages-shopallChild" aria-hidden="true" tabindex="-1">
                                
                                {{#each categories}}
                                {{#if name '==' 'Shop All'}}
                                {{#each children}}
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                                    </li>
                                {{/each}}
                                {{/if}}
                                {{/each}}
                                
                            </ul>
                        </li>

                       
                        <li class="navPage-subMenu-item navPage-subMenu-item--split">
                           
                            <a class="navPage-subMenu-action navPages-action has-subMenu" href="/famous-for/"
                                aria-label="FAMOUS FOR ">
                                FAMOUS FOR
                                <span data-collapsible="navPages-shopOccasionChild"
                                aria-label="famous-for-child" aria-controls="navPages-shopOccasionChild" aria-expanded="false" class="navPages-childlist-opener">
                                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true">

                                </i>
                                </span>
                            </a>
                            <ul class="navPage-childList" id="navPages-shopOccasionChild" aria-hidden="true" tabindex="-1">
                                
                                {{#each categories}}
                                {{#if name '==' 'Famous For'}}
                                {{#each children}}
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                                    </li>
                                {{/each}}
                                {{/if}}
                                {{/each}}
                              
                            </ul>

                            <a class="navPage-subMenu-action navPages-action mt-4  has-subMenu" href="/shop-by-occasion/"
                                aria-label="SHOP BY OCCASION ">
                                SHOP BY OCCASION
                                <span data-collapsible="navPages-shopOccasionChild"
                                aria-label="shop-by-occasion-child" aria-controls="navPages-shopOccasionChild" aria-expanded="false" class="navPages-childlist-opener">
                                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true">

                                </i>
                                </span>
                            </a>
                            <ul class="navPage-childList" id="navPages-shopOccasionChild" aria-hidden="true" tabindex="-1">
                                
                                {{#each categories}}
                                {{#if name '==' 'Shop by Occasion'}}
                                {{#each children}}
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                                    </li>
                                {{/each}}
                                {{/if}}
                                {{/each}}
                              
                            </ul>
                            
                            

                        </li>

                        <li class="navPage-subMenu-item navPage-subMenu-item--img">
                            <a class="navPage-subMenu-action navPages-action has-subMenu navPage-subMenu-title-1" href="/shop-the-edit/"
                            aria-label="shop-the-edit">SHOP THE EDIT
                                <span data-collapsible="navPages-shoptheedit-child"
                                aria-label="shop-by-occasion-child" aria-controls="navPages-shoptheedit-child" aria-expanded="false" class="navPages-childlist-opener">
                                    <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true"></i>
                                </span>
                            </a>
                            
                           
                            <ul class="navPage-childList" id="navPages-livevideos-child" aria-hidden="true" tabindex="-1">
                                {{#each categories}}
                                {{#if name '==' 'Shop The Edit'}}
                                {{#each children}}
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                                    </li>
                                {{/each}}
                                {{/if}}
                                {{/each}}
                            </ul>

                            <!-- As seen on block-->

                            <a class="navPage-subMenu-action navPages-action has-subMenu navPage-subMenu-title-1 mt-4" href="/as-seen-on/"
                            aria-label="as-seen-on">AS SEEN ON
                                <span data-collapsible="navPages-asseenon-child"
                                aria-label="asseenon-child" aria-controls="navPages-asseenon-child" aria-expanded="false" class="navPages-childlist-opener">
                                    <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true"></i>
                                </span>
                            </a>
                            
                           
                            <ul class="navPage-childList" id="navPages-livevideos-child" aria-hidden="true" tabindex="-1">
                                {{#each categories}}
                                {{#if name '==' 'As Seen On'}}
                                {{#each children}}
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                                    </li>
                                {{/each}}
                                {{/if}}
                                {{/each}}
                            </ul>
                               <!-- As seen on block ends-->
                        </li>


                        <li class="navPage-subMenu-item navPage-subMenu-item--img">
                            <!-- <a class="navPage-subMenu-action navPages-action has-subMenu navPage-subMenu-title-1" href="/shop-the-edit/"
                            aria-label="shop-the-edit">SHOP THE EDIT
                                <span data-collapsible="navPages-shoptheedit-child"
                                aria-label="shop-by-occasion-child" aria-controls="navPages-shoptheedit-child" aria-expanded="false" class="navPages-childlist-opener">
                                    <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true"></i>
                                </span>
                            </a> -->
                            <div class="navPage-subMenu-image-2"></div>
                            <!-- <ul class="navPage-childList" id="navPages-shopAgeChild" aria-hidden="true" tabindex="-1">
                                {{#each categories}}
                                {{#if name '==' 'Shop by Age'}}
                                {{#each children}}
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="{{ url }}">{{ name }}</a>
                                    </li>
                                {{/each}}
                                {{/if}}
                                {{/each}}
                            </ul> -->
                        </li>
                        <!-- <li class="navPage-subMenu-item navPage-subMenu-item--split">
                          
                           <div class="navPage-subMenu-image-3">
                           </div>
                        </li> -->

                    </ul>
                </div>
            </div>
        </li>
        <li class="navPages-item d-none d-lg-block order-lg-3">
            <a href="/outfit-ideas/" class="navPages-action navPages-action--main">
                Outfit Ideas
            </a>
        </li>
        <li class="navPages-item d-none d-lg-block order-lg-4 navPages-item--seperator">
            <a href="/about" class="navPages-action navPages-action--main" 
            aria-label="About Us" aria-controls="navPages-aboutus" >
            About Us
             </a>
        </li>
        <!-- <li class="navPages-item d-none d-lg-block order-lg-5" >
            <a href="/shop-all/sale/" class="navPages-action navPages-action--main">
                Sale
            </a>
        </li> -->
        <li class="navPages-item d-none d-lg-block order-lg-6">
            <a href="/style-talk/" class="navPages-action navPages-action--main">
               Style Talk
            </a>
        </li>


        <!-- Removed -->
        <li class="navPages-item d-none order-9">
            <a href="#" class="navPages-action navPages-action--main has-subMenu " data-collapsible="navPages-payment"
                aria-label="live videos" aria-controls="navPages-payment" aria-expanded="false">
                Payment Options
                <i class="icon-svg icon--arw-btm navPages-action--icon d-none d-lg-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg-full" viewBox="0 0 11.2 6.7">
                        <path
                            d="M10.9 0c.3 0 .4.3.2.5L8.6 3.4 5.8 6.6c-.1.1-.3.1-.4 0L2.6 3.4.1.5C-.1.3 0 0 .3 0h10.6z" />
                        </svg>
                </i>
                <i class="icon navPages-action-moreIcon icon--arw-drp d-lg-none" aria-hidden="true">

                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-payment" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        {{> components/common/payment-icons}}
                    </li>
                </ul>
            </div>
        </li>
        
    </ul>
   {{!-- 
    <div class="navPages-social-header ">
       
        {{> components/common/social-links}}

</div>
    --}}

    <ul class="navPages-list border-0 pt-3 px-3 d-md-none">
       {{!--    
        <li class=" navUser-item--currency">
            {{> components/common/currency-converter-mobile}}
          </li>
        --}}
        <li class="mx-1">
            <a href="/currency-converter/"  class="navUser-action navUser-action__offcanvas justify-content-center">
                <span class="icon-svg icon--currency">
                    <svg viewBox="0 0 800 720" class="bi bi-currency-exchange icon-svg-full">
                      <g>
                        <path
                          fill="#000"
                          d="M260,0C116.4,0,0,116.4,0,260s116.4,260,260,260s260-116.4,260-260S403.6,0,260,0z M260,40
                        c121.5,0,220,98.5,220,220s-98.5,220-220,220S40,381.5,40,260S138.5,40,260,40z M240,120v40c-32.9,0-60,27.1-60,60s27.1,60,60,60
                        h40c11.3,0,20,8.7,20,20s-8.7,20-20,20h-40h-60v40h60v40h40v-40c32.9,0,60-27.1,60-60s-27.1-60-60-60h-40c-11.3,0-20-8.7-20-20
                        s8.7-20,20-20h40h60v-40h-60v-40H240z M554.1,200.7c2.7,13.1,4.1,26.6,5,40.3C671.6,250.7,760,344.9,760,460
                        c0,121.5-98.5,220-220,220c-89.8,0-166.9-53.8-201.1-130.9c-13,3.6-26.3,6.3-39.9,8.1C337.5,652.6,430.8,720,540,720
                        c143.6,0,260-116.4,260-260C800,321.2,691.1,208.1,554.1,200.7z"
                        />
                        <g>
                          <path
                            fill="#000"
                            d="M567,426.5c0,10.8-8.8,19.5-19.5,19.5h-53.4c9.8-12.2,18.6-25.3,26.3-39h27.1C558.3,407,567,415.8,567,426.5z
                          "
                          />
                          <path
                            fill="#000"
                            d="M647.5,549.5l-0.2,0.4c-21.2,30.6-56,49.3-93.2,50.1H554c-53.5,0-100.1-39.2-117.2-98h-1.1
                          c15.9-11.5,30.6-24.6,43.9-39h68c10.8,0,19.5,8.8,19.5,19.5s-8.8,19.5-19.5,19.5h-69.7c14.5,36.1,43.7,59,76,59
                          c24.7-0.8,47.9-13.5,61.9-33.9l0.2-0.3l0.3-0.3c6.2-6.8,16.2-8.3,24.1-3.6C649.7,528.3,652.9,540.2,647.5,549.5z"
                          />
                          <path
                            fill="#000"
                            d="M651.3,376.7c-1.3,5-4.5,9.2-9,11.9c-4.5,2.6-9.8,3.3-14.8,2c-5-1.3-9.1-4.5-11.8-8.9
                          c-14-20.2-37.1-32.8-61.7-33.7c-2.8,0-5.6,0.2-8.3,0.5c4-12.8,7.1-26,9.3-39.5c36.7,1.1,71,19.6,92,49.8c0.8,1,1.6,2,2.2,3.1
                          C651.9,366.4,652.6,371.7,651.3,376.7z"
                          />
                        </g>
                      </g>
                    </svg>
                  </span>
            </a>
        </li>
        <li class="mx-1">
            <a href="/account.php"   class="navUser-action navUser-action__offcanvas justify-content-center">
            <span class="icon-svg icon--user">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon-svg-full"
                  viewBox="0 0 16.7 19.8"
                >
                  <path
                    d="M8.6 10.5c2.8-.1 5-2.5 5-5.3 0-2.9-2.4-5.3-5.3-5.3-2.8.1-5.2 2.5-5.2 5.4 0 2.8 2.2 5.1 5 5.3-4.6.1-8.1 3.8-8.1 8.6 0 .3.3.6.6.6s.6-.3.6-.6c0-4.3 3.1-7.4 7.1-7.4 4.1 0 7.1 3.1 7.1 7.4 0 .3.3.6.6.6s.6-.3.6-.6c.1-4.8-3.4-8.5-8-8.7M4.3 5.3c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4-4-1.8-4-4"
                  />
                </svg>
              </span>
            </a>
        </li>

    </ul>

    <ul class="navPages-list d-none navPages-list--user border-top-0 flex-column">
        {{#if currency_selector.currencies.length '>' 1}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--main  has-subMenu" href="#" data-collapsible="navPages-currency"
                aria-controls="navPages-currency" aria-expanded="false"
                aria-label="{{lang 'common.currency' code=currency_selector.active_currency_code}}">
                {{lang 'common.currency' code=currency_selector.active_currency_code}}
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
                    </svg>
                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    {{#each currency_selector.currencies}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}" aria-label="{{name}}"
                            data-currency-code="{{{code}}}" {{#if cart_currency_switch_url.length '>' 0 }}
                            data-cart-currency-switch-url="{{{cart_currency_switch_url}}}" {{/if}}
                            data-warning="{{lang 'common.currency_switch_promotion'}}">
                            {{#if is_active}}
                            <strong>{{name}}</strong>
                            {{else}}
                            {{name}}
                            {{/if}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </li>
        {{/if}}

        {{!-- #if settings.gift_certificates_enabled}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--main " href="{{urls.gift_certificate.purchase}}"
                aria-label="{{lang 'common.gift_cert'}}">
                {{lang 'common.gift_cert'}}
            </a>
        </li>
        {{/if --}}


        {{#if customer.store_credit.value '>' 0}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--main  navPages-action--storeCredit">
                {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
            </a>
        </li>
        {{/if}}


        {{#if theme_settings.product_list_display_mode '==' 'list'}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--main  navPages-action--compare" href="{{urls.compare}}"
                data-compare-nav aria-label="{{lang 'common.compare'}}">
                {{lang 'common.compare'}}
                <span class="countPill countPill--positive countPill--alt"></span>
            </a>
        </li>
        {{/if}}


        {{!-- #if customer}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--main  has-subMenu twst" href="{{urls.account.index}}"
                data-collapsible="navPages-account" aria-label="{{lang 'common.account'}}">
                {{lang 'common.account'}}
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" /></svg>
                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}"
                            aria-label="{{lang 'account.nav.orders'}}">
                            {{lang 'account.nav.orders'}}
                        </a>
                    </li>
                    {{#if settings.returns_enabled}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}"
                            aria-label="{{lang 'account.nav.returns'}}">
                            {{lang 'account.nav.returns'}}
                        </a>
                    </li>
                    {{/if}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}"
                            aria-label="{{lang 'account.mobile_nav.messages'}}">
                            {{lang 'account.mobile_nav.messages'}}
                        </a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}"
                            aria-label="{{lang 'account.nav.addresses'}}">
                            {{lang 'account.nav.addresses'}}
                        </a>
                    </li>
                    {{#if settings.show_payment_methods}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.payment_methods.all}}"
                            aria-label="{{lang 'account.nav.payment_methods'}}">
                            {{lang 'account.nav.payment_methods'}}
                        </a>
                    </li>
                    {{/if}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}"
                            aria-label="{{lang 'account.mobile_nav.wishlists'}}">
                            {{lang 'account.mobile_nav.wishlists'}}
                        </a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}"
                            aria-label="{{lang 'account.nav.recently_viewed'}}">
                            {{lang 'account.nav.recently_viewed'}}
                        </a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}"
                            aria-label="{{lang 'account.nav.settings'}}">
                            {{lang 'account.nav.settings'}}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action navPages-action--main " href="{{urls.auth.logout}}"
                aria-label="{{lang 'common.logout'}}">
                {{lang 'common.logout'}}
            </a>
        </li>
        {{/if--}}


        {{!--#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if--}}
 
        <li class="navPages-item d-lg-none">
            <a href="#" class="navPages-action navPages-action--main  has-subMenu" data-collapsible="navPages-customer"
                aria-controls="navPages-customer" aria-expanded="false"
                aria-label="{{lang 'common.info' code=age_selector.active_info_code}}">Customer Care

                <i class="icon navPages-action-moreIcon icon--arw-drp" aria-hidden="true">

                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-customer" aria-hidden="true" tabindex="-1">
                <div class="container container-fluid--mainnav">
                    <ul class="navPage-childList d-block pl-0 m-0 border-0" id="navPages-customerChild--mob" aria-hidden="true" tabindex="-1">
                        <li class="navPage-childList-item">
                          <a class="navPage-childList-action navPages-action" href="/contact-us/">Contact Us</a>
                        </li>
                        <li class="navPage-childList-item">
                          <a class="navPage-childList-action navPages-action" href="/worldwide-delivery/">Shipping and Delivery</a>
                        </li>
                        <li class="navPage-childList-item">
                          <a class="navPage-childList-action navPages-action" href="/returns-exchanges/">Returns</a>
                        </li>
                        <li class="navPage-childList-item">
                          <a class="navPage-childList-action navPages-action" href="/size-chart/">Size Guide</a>
                        </li>
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action" href="/frequently-asked-questions/">FAQs</a>
                          </li>
                        
                      </ul>
                </div>
            </div>
        </li>
        <li class="navPages-item d-lg-none">
            <!-- <a href="https://motto.us6.list-manage.com/subscribe?u=8cce018f76598e5a3a705b07f&id=dd4a7852f5" class="navPages-action navPages-action--main" >Become a member
            </a> -->
            <a href="/become-a-member/" class="navPages-action navPages-action--main" >Become a member
            </a>
        </li>
        <li class="navPages-item navPages-item--figure d-lg-none">
            <div  class="d-block">
                <div class="navPages-item__figure-blk position-relative">
                    <!-- <img class="navPages-item__figure-img" src="https://cdn11.bigcommerce.com/s-sx2suthcbk/images/stencil/original/y/_-----01_update2__34545.original.jpg" alt=""> -->
                </div>
            </div>
        </li>
      

        
        {{!--#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if--}}
 
        <!-- <li class="navPages-item d-lg-none">
            <a href="#" class="navPages-action navPages-action--main  has-subMenu" data-collapsible="navPages-customer"
                aria-controls="navPages-customer" aria-expanded="false"
                aria-label="{{lang 'common.info' code=age_selector.active_info_code}}">Customer Care

                <i class="icon navPages-action-moreIcon icon--arw-drp" aria-hidden="true">

                </i>
            </a>
            


            <div class="navPage-subMenu" id="navPages-customer" aria-hidden="true" tabindex="-1">
                <div class="container container-fluid--mainnav">
                    <ul class="navPage-childList d-block pl-0 m-0 border-0" id="navPages-customerChild--mob" aria-hidden="true" tabindex="-1">
                        <li class="navPage-childList-item">
                          <a class="navPage-childList-action navPages-action" href="/contact-us/">CONTACT US</a>
                        </li>
                        <li class="navPage-childList-item">
                          <a class="navPage-childList-action navPages-action" href="/worldwide-delivery/">SHIPPING AND DELIVERY</a>
                        </li>
                        <li class="navPage-childList-item">
                          <a class="navPage-childList-action navPages-action" href="/returns-exchanges/">RETURNS</a>
                        </li>
                        <li class="navPage-childList-item">
                          <a class="navPage-childList-action navPages-action" href="/size-chart/">SIZE GUIDE</a>
                        </li>
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action" href="/frequently-asked-questions/">FAQs</a>
                          </li>
                        
                      </ul>
                </div>
            </div>

        </li>
        <li class="navPages-item d-lg-none">
            <a href="https://motto.us6.list-manage.com/subscribe?u=8cce018f76598e5a3a705b07f&id=dd4a7852f5" class="navPages-action navPages-action--main" >Become a member
            </a>
         
        </li> -->

    </ul>
</nav>
