<div class="footer-newsletter__heading footer-newsletter__heading--menu">
    <h6 class="footer-newsletter__title  footer-newsletter__title--menu  h6 mb-0">{{lang 'newsletter.subscribe'}}!</h6>
</div>

<form class="form form--newsletter-prodtl mb-0" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field mb-0">
            <label class="form-label is-srOnly" for="nl_email-menu">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix nowrap">
                <input class="form-input form-input--sm mr-0"
                       id="nl_email-menu"
                       name="nl_email-menu"
                       type="email"
                       value="{{customer.email}}"
                       placeholder="{{lang 'newsletter.email_placeholder_menu'}}"
                       aria-describedby="alertBox-message-text"
                >
                <input class="btn btn-primary btn-secondary text-uppercase ff-bold btn-subscribe--sm  form-prefixPostfix-button--postfix menu"
                type="submit"
                value="{{lang 'newsletter.subscribe_submit'}}"
         >
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
