// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}
.modalCss {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 1015px;
}
